@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(15, 118, 110, 0.4);
  border-radius: 9999px;
}

.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(15, 118, 110, 0.4) transparent;
}
